# Dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Build
build/
*.ipa
*.apk
*.aab

# Env
.env
.env.*
!.env.example

# Test / Coverage
coverage/
.jest/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Sentry
.sentryclirc

# EAS
.easignore.local
